*, *::before, *::after{
  box-sizing: border-box;
}
body{
  background-color: #F08080;
  margin: 0;
  min-height: 120vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration:overline;
  margin-right: : 50px;

}


.piano{
  display:flex;

}

.key{
height: calc(var(--width) * 4);
width: var(--width);
}
.white{
  --width: 80px;
  background: white;
  border: 1px solid black;
}
.white.active{
  background-color: #F5F5DC;
}
.black{
  --width: 50px;
  background: black;
  border: 1px solid black;
  margin-left: -30px;
  margin-right: -30px;
  z-index: 3;
}
.black.active{
  background-color: #696969;
}

//end
